<script src="{{ site.baseurl }}/assets/js/data/core.js"></script>
{% for f in page.data_files %}<script src="{{ site.baseurl }}/assets/js/data/{{ f }}.js"></script>
{% endfor %}<script src="{{ site.baseurl }}/assets/vendor/chart.umd.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/gsap.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/ScrollTrigger.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/lenis.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/core/theme.js"></script>
<script src="{{ site.baseurl }}/assets/js/core/utils.js"></script>
<script src="{{ site.baseurl }}/assets/js/core/shell.js"></script>
<script src="{{ site.baseurl }}/assets/js/core/views.js"></script>
<script src="{{ site.baseurl }}/assets/js/charts.js"></script>
<script src="{{ site.baseurl }}/assets/js/core/motion.js"></script>
